.teste{

    animation-name: luz;
    animation-duration: 20s;
    animation-delay: 4s;
    animation-iteration-count: 3;
    animation-timing-function: ease-in-out;
}
@keyframes luz {
    0%   { right:-6rem; bottom:-4rem;width: 30rem; height: 30rem;}
    25%  { right:20rem; bottom:-4rem;width: 20rem; height: 20rem;}
    60%  { right:20rem; bottom:20rem;width: 10rem; height: 10rem;}
    85%  { right:-6rem; bottom:20rem;}
    100% { right:-6rem; bottom:-4rem;}
  }

  .shine{
    animation-name: thunder;
    animation-duration: 10s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  @keyframes thunder{
    0%   { filter: brightness(1);}
    10%   { filter: brightness(1.3);}
    15%  { filter: brightness(1);}
    35%  { filter: brightness(2);}
    40%  { filter: brightness(1.3);}
    55%  { filter: brightness(1);}
    65%  { filter: brightness(1.3);}
    75%  { filter: brightness(1);}
    85%  { filter: brightness(1.3);}
    95%  { filter: brightness(1);}
    96%  { filter: brightness(2);}
    98%   { filter: brightness(1.3);}
    99%   { filter: brightness(2.5);}
    100% { filter: brightness(1.3);}
  }