.teste{

    animation-name: luz;
    animation-duration: 30s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes luz {
    0%   { right:-6rem; bottom:-4rem;width: 30rem; height: 30rem;}
    25%  { right:20rem; bottom:-4rem;width: 20rem; height: 20rem;}
    60%  { right:20rem; bottom:20rem;width: 10rem; height: 10rem;}
    75%  { right:-6rem; bottom:20rem;}
    100% { right:-6rem; bottom:-4rem;}
  }

  .shine{
    animation-name: thunder;
    animation-duration: 8s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  @keyframes thunder{
    0%   { filter: brightness(1);}
    10%   { filter: brightness(1.7);}
    15%  { filter: brightness(0.5);}
    35%  { filter: brightness(2);}
    40%  { filter: brightness(1.7);}
    55%  { filter: brightness(0.7);}
    65%  { filter: brightness(1.7);}
    75%  { filter: brightness(0.5);}
    85%  { filter: brightness(1.7);}
    95%  { filter: brightness(0.7);}
    96%  { filter: brightness(3);}
    98%   { filter: brightness(1.7);}
    99%   { filter: brightness(3);}
    100% { filter: brightness(1.4);}
  }